.header1{
    background-color: black;
    color: white;
    text-align: center;
}

#mohanlal{
    text-align: center;
    color: white;
}
.nav{
    background-color: rgb(63, 62, 62);
}
li{
    margin-left: 50px;
    display: inline;
    
    
    

    
}

.nav-item{
    list-style-type: none;
    padding: 5px;
    color: white;
    text-align: right;
    

    
}


.body-items{
    background-color: grey;
}
/* .content-item{
    background-color: grey;
} */
